@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap')

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte1:  verdana, sans-serif;
    --fonte2: 'Passion one', arial;
    --fonte3: 'sriracha', arial; 
}

html, body {
     background-color: darkgray;
     min-height: 100vh;
     font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top:50px;
    font-variant: small-caps; 
    font-family: var(--fonte2);
    font-size: 10vw;
}

header p {
    padding-bottom: 50px;
}

a { 
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vw;
}
.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgba(0, 0, 0, 0.163);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;
} 

.imagem p {
    
    background-color: rgba(0, 0, 0, 0.49);
    display: inline-block;
    padding: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.478);
}

#img1 {
     background-image: url(../imagens/background001.jpg);
     background-size: cover;
     background-position: right center;
     
}

#img2 {
    background-image: url(../imagens/background002.jpg);
    background-size: cover;

}

footer { 
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}