@charset "UTF-8";
/* todas as outras midias */
/* tipical device break points

pequenas telas: ate 600px
celulares: 600px ate 788px
tablet:768px ate 992 px 
Desktop: 992 px ate 1200px
TV: acima de 1200px
*/


/* outros valores 
Mobile: 360 x 640
Mobile: 375 x 667
Mobile: 360 x 720
iPhone X: 375 x 812
Pixel 2: 411 x 731
Tablet: 768 x 1024
Laptop: 1366 x 768
High-res laptop or desktop: 1920 x 1080 */

/* impressão */
@media print {
    body {
        /* não é possivel imprimir background imagem de sites */
        background-image: url(../imagens/back-print.jpg) /* desncessário*/
         
         
    }

    #phone {
        display: none;
    }

    #tablet {
        display: none;
    }

    #print {
        display: block;
    }

    #pc {
        display: none;
    }

    #tv {
        display: none;
    }
}



/* tablet */
@media screen and (min-width:768px) and (max-width:992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    #phone {
        display: none;
    }

    #tablet {
        display: block;
    }

    #print {
        display: none;
    }

    #pc {
        display: none;
    }

    #tv {
        display: none;
    }
}


/* desktop */

@media screen and (min-width: 992px) and (max-width:1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    #phone {
        display: none;
    }

    #tablet {
        display: none;
    }

    #print {
        display: none;
    }

    #pc {
        display: block;
    }

    #tv {
        display: none;
    }
}

/* grandes telas  */
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    #phone {
        display: none;
    }

    #tablet {
        display: none;
    }

    #print {
        display: none;
    }

    #pc {
        display: none;
    }

    #tv {
        display: block;
    }
}